@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: rgb(30, 41, 59, 1);
        --primary: #ff8800;
        --secondary: #ffffff;
        --error: rgb(220, 38, 38, 1);
    }

    body {
        @apply min-h-screen bg-theme-bg text-theme-primary grid place-items-center font-mono tracking-wider px-4;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}
